{% extends 'base.html' %}
{% load custom_filters %}

{% block search %}
<div class="col-md-3">
  <form class="d-flex justify-content-between align-items-center" method="GET" action="{% url 'personnel_list_back' %}">
    <input class="form-control" type="text" name="q" placeholder="Rechercher...">
    <button type='submit' class='btn btn-link text-light btn-block custom-btn-link'>
      <i class='mdi mdi-magnify icon-size'></i></button>
  </form>
</div>
{% endblock %}

{% block content %}
<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th><a class="font-weight-bold" href="?sort_by=Matricule_M{% if sort_by == 'Matricule_M' and direction == 'asc' %}&direction=desc{% else %}&direction=asc{% endif %}">Matricule {% if sort_by == 'Matricule_M' %}{% if direction == 'asc' %}<i class='mdi mdi-chevron-up'></i>{% else %}<i class='mdi mdi-chevron-down'></i>{% endif %}{% endif %}</a></th>
      <th><a class="font-weight-bold" href="?sort_by=Nom_M{% if sort_by == 'Nom_M' and direction == 'asc' %}&direction=desc{% else %}&direction=asc{% endif %}">Nom {% if sort_by == 'Nom_M' %}{% if direction == 'asc' %}<i class='mdi mdi-chevron-up'></i>{% else %}<i class='mdi mdi-chevron-down'></i>{% endif %}{% endif %}</a></th>
      <th><a class="font-weight-bold" href="?sort_by=Prenom_M{% if sort_by == 'Prenom_M' and direction == 'asc' %}&direction=desc{% else %}&direction=asc{% endif %}">Prénom {% if sort_by == 'Prenom_M' %}{% if direction == 'asc' %}<i class='mdi mdi-chevron-up'></i>{% else %}<i class='mdi mdi-chevron-down'></i>{% endif %}{% endif %}</a></th>
      <th><a class="font-weight-bold" href="?sort_by=Mail_M{% if sort_by == 'Mail_M' and direction == 'asc' %}&direction=desc{% else %}&direction=asc{% endif %}">Mail {% if sort_by == 'Mail_M' %}{% if direction == 'asc' %}<i class='mdi mdi-chevron-up'></i>{% else %}<i class='mdi mdi-chevron-down'></i>{% endif %}{% endif %}</a></th>
      <th><a class="font-weight-bold" href="?sort_by=Tel_M{% if sort_by == 'Tel_M' and direction == 'asc' %}&direction=desc{% else %}&direction=asc{% endif %}">Tel {% if sort_by == 'Tel_M' %}{% if direction == 'asc' %}<i class='mdi mdi-chevron-up'></i>{% else %}<i class='mdi mdi-chevron-down'></i>{% endif %}{% endif %}</a></th>
      <th class="">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for personnel in personnels %}
    <tr>
      <td>{{ personnel.Matricule_M }}</td>
      <td>{{ personnel.Nom_M }}</td>
      <td>{{ personnel.Prenom_M }}</td>
      <td>{{ personnel.Mail_M }}</td>      
      <td>{{ personnel.Tel_M }}</td>
      <td>
        <a class="btn btn-link text-primary btn-block custom-btn-link" href="{% url 'personnel_update' encrypted_id=personnel.ID_Membre|encrypt_id:SECRET_KEY %}" onclick="return confirm('Voulez-vous vraiment modifier ce personnel ?')"><i class='mdi mdi-border-color'></i></a> |
        <a class="btn btn-link custom-btn-link text-danger btn-block" href="{% url 'personnel_delete' encrypted_id=personnel.ID_Membre|encrypt_id:SECRET_KEY %}" onclick="return confirm('Voulez-vous vraiment supprimer ce personnel ?')"><i class='mdi mdi-delete'></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="pagination">
  <span class="step-links">
    {% if personnels.has_previous %}
    <a href="?page=1">&laquo; premier</a>
    <a href="?page={{ personnels.previous_page_number }}">précédent</a>
    {% endif %}

    <span class="current">
      Page {{ personnels.number }} de {{ personnels.paginator.num_pages }}.
    </span>

    {% if personnels.has_next %}
    <a href="?page={{ personnels.next_page_number }}">suivant</a>
    <a href="?page={{ personnels.paginator.num_pages }}">dernier &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock %}