{% extends 'base.html' %}
{% load custom_filters %}

{% block search %}
<div class="col-md-3">
  <form class="d-flex justify-content-between align-items-center" method="GET" action="{% url 'ville_list_back' %}">
    <input class="form-control" type="text" name="q" placeholder="Rechercher...">
    <button type='submit' class='btn btn-link text-light btn-block custom-btn-link'>
      <i class='mdi mdi-magnify icon-size'></i></button>
  </form>
</div>
{% endblock %}

{% block content %}
<table class="table table-dark table-striped">
  <!-- Table header -->
  <thead>
    <tr>
      <th><a class="font-weight-bold" href="?sort_by=Nom{% if sort_by == 'Nom' and direction == 'asc' %}&direction=desc{% else %}&direction=asc{% endif %}">Nom {% if sort_by == 'Nom' %}{% if direction == 'asc' %}<i class='mdi mdi-chevron-up'></i>{% else %}<i class='mdi mdi-chevron-down'></i>{% endif %}{% endif %}</a></th>
      <th><a class="font-weight-bold" href="?sort_by=Nom{% if sort_by == 'Nom' and direction == 'asc' %}&direction=desc{% else %}&direction=asc{% endif %}">Code Postal {% if sort_by == 'Nom' %}{% if direction == 'asc' %}<i class='mdi mdi-chevron-up'></i>{% else %}<i class='mdi mdi-chevron-down'></i>{% endif %}{% endif %}</a></th>

      <th class="">Actions</th>
    </tr>
  </thead>
  <!-- Table body -->
  <tbody>
    {% for ville in villes %}
    <tr>
      <td>{{ ville.Nom_Ville }}</td>
      <td>{{ ville.CodePostal }}</td>
      <td>
        <a class="btn btn-link text-primary btn-block custom-btn-link" href="{% url 'ville_update' encrypted_id=ville.ID_Ville|encrypt_id:SECRET_KEY %}" onclick="return confirm('Voulez-vous vraiment modifier cette ville ?')"><i class='mdi mdi-border-color'></i></a> |
        <a class="btn btn-link custom-btn-link text-danger btn-block" href="{% url 'ville_delete' encrypted_id=ville.ID_Ville|encrypt_id:SECRET_KEY %}" onclick="return confirm('Voulez-vous vraiment supprimer cette ville ?')"><i class='mdi mdi-delete'></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Pagination -->

<div class="pagination">
  <span class="step-links">
    {% if villes.has_previous %}
    <a href="?page=1">&laquo; premier</a>
    <a href="?page={{ villes.previous_page_number }}">précédent</a>
    {% endif %}

    <span class="current">
      Page {{ villes.number }} de {{ villes.paginator.num_pages }}.
    </span>

    {% if villes.has_next %}
    <a href="?page={{ villes.next_page_number }}">suivant</a>
    <a href="?page={{ villes.paginator.num_pages }}">dernier &raquo;</a>
    {% endif %}
  </span>

</div>


{% endblock %}