{% extends 'base.html' %}
{% load custom_filters %}

{% block search %}
<div class="col-md-3">
  <form class="d-flex justify-content-between align-items-center" method="GET" action="{% url 'lieu_list' %}">
    <input class="form-control" type="text" name="q" placeholder="Rechercher...">
    <button type='submit' class='btn btn-link text-light btn-block custom-btn-link'>
      <i class='mdi mdi-magnify icon-size'></i></button>
  </form>
</div>
{% endblock %}

{% block content %}
<table class="table table-dark table-striped">
  <!-- Table header -->
  <thead>
    <tr>
      <th><a class="font-weight-bold" href="?sort_by=Lieu{% if sort_by == 'Lieu' and direction == 'asc' %}&direction=desc{% else %}&direction=asc{% endif %}">Lieu {% if sort_by == 'Lieu' %}{% if direction == 'asc' %}<i class='mdi mdi-chevron-up'></i>{% else %}<i class='mdi mdi-chevron-down'></i>{% endif %}{% endif %}</a></th>
      <th><a class="font-weight-bold" href="?sort_by=Capacite_Lieu{% if sort_by == 'Capacite_Lieu' and direction == 'asc' %}&direction=desc{% else %}&direction=asc{% endif %}">Capacité {% if sort_by == 'Capacite_Lieu' %}{% if direction == 'asc' %}<i class='mdi mdi-chevron-up'></i>{% else %}<i class='mdi mdi-chevron-down'></i>{% endif %}{% endif %}</a></th>

      <th><a class="font-weight-bold" href="?sort_by=Disponibilite_Lieu{% if sort_by == 'Disponibilite_Lieu' and direction == 'asc' %}&direction=desc{% else %}&direction=asc{% endif %}">Disponible {% if sort_by == 'Disponibilite_Lieu' %}{% if direction == 'asc' %}<i class='mdi mdi-chevron-up'></i>{% else %}<i class='mdi mdi-chevron-down'></i>{% endif %}{% endif %}</a></th>

      <th><a class="font-weight-bold" href="?sort_by=Rue{% if sort_by == 'Rue' and direction == 'asc' %}&direction=desc{% else %}&direction=asc{% endif %}">Rue {% if sort_by == 'Rue' %}{% if direction == 'asc' %}<i class='mdi mdi-chevron-up'></i>{% else %}<i class='mdi mdi-chevron-down'></i>{% endif %}{% endif %}</a></th>


      <th><a class="font-weight-bold" href="?sort_by=ID_Quartier{% if sort_by == 'ID_Quartier' and direction == 'asc' %}&direction=desc{% else %}&direction=asc{% endif %}">Quartier {% if sort_by == 'ID_Quartier' %}{% if direction == 'asc' %}<i class='mdi mdi-chevron-up'></i>{% else %}<i class='mdi mdi-chevron-down'></i>{% endif %}{% endif %}</a></th>

      <th class="">Actions</th>
    </tr>
  </thead>
  <!-- Table body -->
  <tbody>
    {% for lieu in lieux %}
    <tr>
      <td>{{ lieu.Lieu }}</td>
      <td>{{ lieu.Capacite_Lieu }}</td>
      <td>{{ lieu.Disponibilite_Lieu }}</td>
      <td>{{ lieu.ID_Adresse.Rue }}</td>
      <td>{{ lieu.ID_Adresse.ID_Quartier }}</td>
      <td>
        <a class="btn btn-link text-primary btn-block custom-btn-link" href="{% url 'lieu_update' encrypted_id=lieu.ID_Lieu|encrypt_id:SECRET_KEY %}" onclick="return confirm('Voulez-vous vraiment modifier ce lieu ?')"><i class='mdi mdi-border-color'></i></a> |
        <a class="btn btn-link custom-btn-link text-danger btn-block" href="{% url 'lieu_delete' encrypted_id=lieu.ID_Lieu|encrypt_id:SECRET_KEY %}" onclick="return confirm('Voulez-vous vraiment supprimer cette lieu ?')"><i class='mdi mdi-delete'></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<!-- Pagination -->
<div class="pagination">
  <span class="step-links">
    {% if lieux.has_previous %}
    <a href="?page=1">&laquo; premier</a>
    <a href="?page={{ lieux.previous_page_number }}">précédent</a>
    {% endif %}

    <span class="current">
      Page {{ lieux.number }} de {{ lieux.paginator.num_pages }}.
    </span>

    {% if lieux.has_next %}
    <a href="?page={{ lieux.next_page_number }}">suivant</a>
    <a href="?page={{ lieux.paginator.num_pages }}">dernier &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock %}